#login-modal-wrapper {
    position: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0 , 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#login-modal-box {
    border-radius: 20px;
    width: 600px;
    height: 300px;
    background-color: aliceblue;
    position: fixed;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-modal-text {
    margin: 10px;
    z-index: 1;
    font-size: 35px;
    text-align: center;
}

#login-mail, #login-password {
    border: 2px solid tomato;
    margin: 5px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
}

#login-button {
    border-radius: 10px;
    margin: 5px;
    width: 400px;
    height: 50px;
    font-size: 25px;
    border: none;
    background-color: tomato;
    color: aliceblue;
}

#login-button:hover{
    cursor: pointer;
}
